$color: #3f4099;

%padding {
    padding: 15px;
}

header {
    @extend %padding;
    background-color: $color;
    text-align: center;
    font-size: 18px;
    color: white;
    height: 50px;
}

nav {
    @extend %padding;
    background-color: white;
    float: left;
    width: 30%;
    max-width: 250px;
    text-align: right;

    ul {
        @extend %padding;
        list-style-type: none;
        font-size: 20px;
        line-height: 220%; }
}

article {
    padding: 20px;
    float: left;
    width: 67%;
    background-color: #f1f1f1;


}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    @extend %padding;
    background-color: #223154;
    text-align: center;
    color: white;
}

table, th, td {

    border-collapse: collapse;
}

th, td {
    @extend %padding;
    font-family: "Times New Roman", Times, serif;
}
th {
        text-align: center;
}

@media (max-width: 640px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    nav {
        text-align: left;

        ul {
            padding: 10px;
            font-size: 20px;
            line-height: 170%; }
    }
}



a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

a:hover {
    color: $color;
}


p.italic {
    font-style: italic;
    font-size: 12px ;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $color;
}

#phototitle {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}